h1 {
  background-color: rgba(190, 174, 226, 0.4);
}
h2 {
  background-color: rgba(190, 174, 226, 0.3);
}
h3 {
  background-color: rgba(190, 174, 226, 0.2);
}
h4 {
  background-color: rgba(190, 174, 226, 0.1);
}